@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab&display=swap');


body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    background-image: url(../images/background.jpg);
    background-size: 100% auto;
    padding: 100px 200px;

}


.main {
    margin: 0 auto;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.vertical-cards{
    display: flex;
    gap: 80px;
    flex-direction: column;
    width: 55%;
}

.vertical-cards .card{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    display: flex;
    background-color: #fff;
}
.card-info{
    padding: 100px;
    width: 75%;
}

.card-info i {
    font-size: 140px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 70px;
}

.card-info .desc{
    font-size: 70px;
    color: rgba(137, 157, 175, 1);
    padding-bottom: 70px;
}

.card-info .author{
    font-size: 110px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.vertical-cards .card img{
    width: 600px;
    height: 600px;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
}



/*THIRD CARD VERTICAL*/

.card-vertical {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 200px 150px 100px 150px;
    width: 30%;
}

.card-vertical i{
    font-size: 180px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 200px;
}

.card-vertical .desc{
    font-size: 70px;
    color: rgba(137, 157, 175, 1);
    padding-bottom: 300px;
}

.card-vertical .user{
    display: flex;
}

.card-vertical .user img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    filter: grayscale();
    margin-right: 40px;
}

.user {
    border-top: 1px solid lightgrey;
    padding: 30px;
    align-items: center;
}

.user .author{
    font-size: 110px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.user .badge{
    font-size: 50px;
    color: rgba(137, 157, 175, 1);
}
